import(methods)
import(Biobase)
import(DBI)
import(RSQLite)

exportClasses(
    ## from R/GONode.R
    "GONode",

    ## from R/AllClasses.R
    "L2Rbrick",
    "AnnDbObj",
    "AnnDbTable",
    "AnnDbMap",
    "RevAnnDbMap",
    "AtomicAnnDbMap",
    "RevAtomicAnnDbMap",
    "IpiAnnDbMap",
    "GoAnnDbMap",
    "RevGoAnnDbMap",
    "Go3AnnDbMap",
    "RevGo3AnnDbMap",
    "GONodeAnnDbMap",
    "RevGONodeAnnDbMap",

    ## from R/AnnDbPkg-maker.R
    "AnnDbPkgSeed"
)

exportMethods(
    ## from R/GONode.R
    "GOID",
    "Term",
    "Ontology",
    "Synonym",
    "Secondary",
    "Definition",

    ## from R/AnnDbObj-lowAPI.R
    "revmap",
    "db",
    "left.table", "right.table",
    "left.colname", "right.colname",
    "tagnames", "colnames",
    "left.filter", "right.filter",
    "show",
    "toTable", "as.data.frame", "nrow",
    "left.names", "right.names", "names",
    "left.length", "right.length", "length",
    "as.character",
    "toList",
    "left.mappedNames", "right.mappedNames", "mappedNames",
    "count.left.mappedNames", "count.right.mappedNames", "count.mappedNames",
    "is.na",

    ## from R/AnnDbMap-envirAPI.R
    "ls",
    "as.list",
    "mget",
    "eapply",
    "get",
    "exists",
    "[[",
    "$",

    ## more...
    "initialize",
    "makeAnnDbPkg"
)

export(
    ## from R/GONode.R
    GONode,

    ## from R/AnnDbPkg-templates-common.R
    dbFileConnect,
    dbFileDisconnect,
    addToNamespaceAndExport,
    mergeToNamespaceAndExport,

    ## from the R/createAnnObjs.*_DB.R files
    createAnnObjs.HGU95AV2_DB,
    createAnnObjs.YEAST2_DB,
    createAnnObjs.AG_DB,
    createAnnObjs.LLMAPPINGS_DB,
    createAnnObjs.YEAST_DB,
    createAnnObjs.GO_DB,
    createAnnObjs.AFFYHUEX_DB,

    ## from R/AnnDbPkg-checker.R
    checkMAPCOUNTS
)

