
export(toggleDebug,
       compareAnnotation,
       comparePerf)

exportMethods(
              "exists",
              "makeDataPackage",
              "revmap",
              "db",
              "as.data.frame",
              "nrow",
              "left.names",
              "right.names",
              "ls",
              "names",
              "left.length",
              "right.length",
              "length",
              "show",
              "as.character",
              "as.list",
              "mget",
              "eapply",
              "get",
              "[[",
              "$",
              "mapped.left.names",
              "count.mapped.left.names",
              "mapped.right.names",
              "count.mapped.right.names",
              "mapped.names",
              "count.mapped.names",
              "is.na")

### envir-based API:
exportClasses(
    "AnnMap",
    "ReverseAnnMap",
    "AtomicAnnMap",
    "ReverseAtomicAnnMap",
    "GOAnnMap",
    "ReverseGOAnnMap")

export(
    checkAnnObjects,
    createAnnObjects.HGU95AV2DB,
    createAnnObjects.YEAST2DB,
    createAnnObjects.AGDB,
    createAnnObjects.LLMAPPINGSDB,
    createAnnObjects.YEASTDB
)

